<footer class="footer">
	<small>
		The <a href="http://www.rails.org/">Ruby in Rails</a>
		by <a href="http://www.Mih.org/"> Michael </a>
	</small>
	<nav>
		<ul class="nav nav-pills">
		<li role="presentation" class="active"><%= link_to "About", '#' %></li>
		<li role="presentation"><%= link_to "News", '#' %></li>
		<li role="presentation"><%= link_to "Help", '#' %> </li>
		</ul>
	</nav>
</footer>
